@model E_ExamsMvcCore.Models.EasayQuestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EasayQuestion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
